@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}


@layer base {
  :root {

    --background: 192 50% 10%;
    --foreground: 192 5% 90%;
    --card: 192 50% 10%;
    --card-foreground: 192 5% 90%;
    --popover: 192 50% 5%;
    --popover-foreground: 192 5% 90%;
    --primary: 192 70% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 192 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 154 30% 25%;
    --muted-foreground: 192 5% 60%;
    --accent: 154 30% 25%;
    --accent-foreground: 192 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 192 5% 90%;
    --border: 192 30% 50%;
    --input: 192 30% 50%;
    --ring: 192 70% 42%;
    --radius: 0.5rem;
    --radius: 1.5rem;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}